p {
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

.left {
    width: 100px;
    float: left;

}



.right {
    width: 200px;
    float: left;
}

ul {
    list-style-type: none;
}